.description {
  display: felx;
  flex-direction: column;
  padding: 3%;
  margin: 5% auto;
  background-color: black;
  border-radius: 20px;
  border: 2px solid aqua;
  color: white;
  width: 80%;

  h1 {
    color: green;
  }
}
