nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background-color: green;

  .menuNav {
    font-size: 1.6rem;
    width: 80%;
    a {
      text-decoration: none;
      margin: 0 0 0 0;
      color: white;
    }
  }
  h1 {
    font-size: 3rem;
    text-align: center;
    width: 50%;
    color: white;
  }
  .menuNav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }
}
